<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="mostrarTabla">
      <div class="col-sm-12">
        <div class="card ">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Tabla de Parqueaderos</h4>
            <p class="card-category">Registro de Parqueaderos</p>
          </div>

          <div class="card-body">
            <!--Filtros  -->
            <div class="row">

              <!--Input filtro de un campo-->
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput [(ngModel)]="filtronumeroParqueadero" (keyup)="aplicarFiltro()" placeholder="Buscar por nombre de parqueadero">
                  <button mat-button *ngIf="filtronumeroParqueadero" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <!--Fin filtro input -->
              <!--Filtro boton  toggle inhabilidatos -->
              <div class="col-sm-4">
                <mat-slide-toggle (change)="aplicarFiltro()" [(ngModel)]="toggleActDesc">Mostrar Parqueaderos desactivados</mat-slide-toggle>
              </div>
              <!--Fin Filtro boton toggle -->
              <!--Fin Filtros-->


            </div>

            <div class="row">
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select placeholder="buscar por plaza de mercado" [(ngModel)]="plazaselect" (change)="aplicarFiltro()">
                    <mat-option value=''> Todos </mat-option>
                    <mat-option [value]='plaza.nombreplaza' *ngFor="let plaza of plazasmercado">{{plaza.nombreplaza}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <p>Buscando por: {{plazaselect}} </p>
              </div>

              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select placeholder="Seleccione tipos de parqueaderos" [(ngModel)]="tipoparqueselect" (change)="aplicarFiltro()">
                    <mat-option value=''> Todos </mat-option>
                    <mat-option [value]='tipoparqueadero.nombretipoparqueadero' *ngFor="let tipoparqueadero of tipoparqueaderos">{{tipoparqueadero.nombretipoparqueadero}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <p>Buscando por: {{tipoparqueselect}} </p>
              </div>

            </div>


            <!--Mensaje de confirmacion-->
            <div data-notify="container" *ngIf="mensaje" [class]="claseDinamic">
              <i class="material-icons" data-notify="icon">{{iconAlert}}</i>
              <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                <i class="material-icons">close</i>
              </button>
              <span data-notify="message">
                <b>Info:</b> {{mensaje}} </span>
              <div class="col-sm-4">
                <button mat-raised-button class="btn btn-outline-primary mb-3" (click)="consultarParqueaderos()" *ngIf="respuesta=='error'">Intentar
                  de nuevo
                </button>
              </div>
            </div>
            <!--
                <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoUsuario"></mat-progress-bar>
              -->

            <!--Fin mensaje confirmacion-->
            <div *ngIf="respuesta==null">
              Cargando Parqueaderos
              <mat-progress-bar mode="indeterminate" class="mt-2 mb-4"></mat-progress-bar>
            </div>


            <div class="row">

              <div class="col-sm-4 ">
                <button mat-raised-button class="btn btn-outline-primary mb-3" type="submit" (click)="llamarFormularioAgregarParqueadero()" [disabled]="botonBloqueo">Nuevo
                  Parqueadero
                </button>
              </div>
            </div>

            <div class="table-responsive mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort class="table table-full-width">
                <ng-container matColumnDef="numeroparqueadero">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nº Parqueadero </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.parqueaderoactivo }"> {{element.numeroparqueadero}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipoparqueadero">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo parqueadero </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.parqueaderoactivo }"> {{element.nombretipoparqueadero}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombreplaza">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Plaza </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.parqueaderoactivo }"> {{element.nombreplaza}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="parqueaderoactivo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Parqueadero Activo/Desactivado </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.parqueaderoactivo }"> {{element.parqueaderoactivo?'Activo':'Desactivado'}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let element ; let i=index">

                    <button mat-icon-button matTooltip="Editar parqueadero " matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                      class="example-button" (click)="llamarFormularioAgregarParqueadero(element)"> <i class="material-icons ">edit</i>
                    </button>

                    <button mat-icon-button matTooltip="Eliminar parqueadero " matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                      class="example-button" (click)="openDialog(element)">
                      <i class="material-icons ">delete</i>
                    </button>

                    <button mat-icon-button matTooltip="Desactivar parqueadero " matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                      class="example-button" (click)="cambiarEstadoParqueadero(element)">
                      <i class="material-icons ">not_interested</i>
                    </button>


                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="cabecerasColumnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: cabecerasColumnas;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>

      </div>
      <!--Fin Tabla empelados-->

    </div>
    <!--------------------------------------------------------------------------------------------------------->
    <!--
      formulario para agregar o actualizar una tabla TIPO
      -->

    <div class="col-sm-8" *ngIf="mostrarFormParqueadero">
      <!--inicio formulario de nuevo parqueadero -->
      <div class="card">
        <div class="card-header card-header-danger ">
          <h4 class="card-title text-center">Agregar un nuevo parqueadero </h4>
          <p class="card-category text-center">*Todos los campos son obligatorios</p>
        </div>

        <div class="card-body">
          <!--Mensaje de confirmacion-->
          <div class="alert alert-warning alert-with-icon" data-notify="container" *ngIf="msg">
            <i class="material-icons" data-notify="icon">warning</i>
            <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog2()">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">
              <b>Info:</b> {{msg}} </span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="tipoparqueaderos==null">
            <i class="material-icons" data-notify="icon">help_outline</i>
            <span data-notify="message">
              <b> Info -</b>
              Para crear un parqueadero debe crear con anterioridad plazas de mercado y tipos de parqueadero
            </span>
          </div>
          <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoparqueadero"></mat-progress-bar>

          <!--Fin mensaje confirmacion-->
        </div>


        <form [formGroup]="nuevoParqueaderoForm" (ngSubmit)="editarAgregarParqueadero()">

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Digite codigo de el parqueadero " id="codigoparqueadero" name="codigoparqueadero" formControlName="codigoparqueadero">
                  <mat-error *ngIf="nuevoParqueaderoForm.get('codigoparqueadero').hasError('required')">
                    el codigo es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Digite numero de el parqueadero " id="numeroparqueadero" name="numeroparqueadero" formControlName="numeroparqueadero">
                  <mat-error *ngIf="nuevoParqueaderoForm.get('numeroparqueadero').hasError('required')">
                    El numero es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto mt-1">
                <mat-slide-toggle (change)="activarDesactivarparqueadero()" [checked]="active">parqueadero {{textActive}} </mat-slide-toggle>
              </div>


              <div class="col-sm-4 mx-auto  mt-1">
                <mat-form-field>
                  <mat-select placeholder="Seleccione Plaza" id="pkidplaza" name="pkidplaza" formControlName="pkidplaza">
                    <mat-option [value]='plaza.pkidplaza' *ngFor="let plaza of plazasmercado">{{plaza.nombreplaza}}</mat-option>
                  </mat-select>
                  <mat-hint *ngIf="plazasmercado==null">Se debe crear primero plazazas de mercado</mat-hint>
                  <mat-error *ngIf="nuevoParqueaderoForm.get('pkidplaza').hasError('required')">
                   la plaza <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>


            </div>
          </div>
          <div class="form-group">
            <div class="row mb-3">


              <div class="col-sm-4 mx-auto  mt-1 ">
                <mat-form-field>
                  <mat-select placeholder="Seleccione tipo de parqueadero"  id="pkidtipoparqueadero" name="pkidtipoparqueadero" formControlName="pkidtipoparqueadero" >
                    <mat-option [value]='tipoparqueadero.pkidtipoparqueadero' *ngFor="let tipoparqueadero of tipoparqueaderos">{{tipoparqueadero.nombretipoparqueadero}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="nuevoParqueaderoForm.get('pkidtipoparqueadero').hasError('required')">
                      El tipo de parqueadero es <strong>requerido</strong>
                     </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="submit" [disabled]="!nuevoParqueaderoForm.valid">{{mensajeBoton}}
              </button>
              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="button" (click)="llamarFormularioAgregarParqueadero(null)">Cancelar</button>
            </div>
          </div>

        </form>
      </div>
      <!--
                    <pre>Status del formulario: {{ nuevoParqueaderoForm.get('repetirContrasenia').hasError('') | json }}</pre>
                    <pre>Status del formulario: {{ nuevoParqueaderoForm.get('repetirContrasenia').errors.validUrl | json }}</pre>
                    Fin formulario nuevo sector
                  -->
    </div>
  </div>
</div>