<div class="main-content">

    <!-- Vista principal de todas las tarifas -->
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header card-header-danger">
                    <h3 class="card-title text-center">Tarifas para el año {{currentDate | date: 'yyyy'}}</h3>
                    <p class="card-category text-center">Tarifas correspondientes al año actual</p>
                </div>

                <div class="card-body">

                    <div class="row mt-4">

                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-primary">
                                    <h3 class="card-title text-center">Puesto <i class="material-icons ">account_balance</i></h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirPuestoEventual()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-info">
                                    <h3 class="card-title text-center">Puesto Eventual<i class="material-icons ">account_balance</i></h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirPuestoEventual()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-warning">
                                    <h3 class="card-title text-center">Interés <i class="material-icons ">attach_money</i></h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirTarifaInteres()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-danger">
                                    <h3 class="card-title text-center">Parqueadero <i class="material-icons ">commute</i></h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirPuestoEventual()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-success ">
                                    <h3 class="card-title text-center">Animal <i class="material-icons">pets</i></h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirPuestoEventual()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-rose ">
                                    <h3 class="card-title text-center">Pesaje <i class="material-icons ">save_alt</i></h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirPuestoEventual()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-warning ">
                                    <span class="text-center">
                                        <h3 class="card-title ">Vehiculo&nbsp;<i class="material-icons ">time_to_leave</i></h3>
                                    </span>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <p class="card-category text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error natus
                                        dolore tenetur
                                        eaque nobis esse.
                                    </p>
                                    <br>
                                    <h3 class="card-title text-center">Valor: &nbsp; $3000
                                        <small>COP</small>
                                    </h3>
                                    <div class="row">
                                        <button mat-raised-button class="btn btn-outline-primary col-8 mx-auto" (click)="redirigirVehiculo()">
                                            Editar <i class="material-icons">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats mx-auto">
                                        <i class="material-icons">calendar_today</i> &nbsp; Tarifa 2018 &nbsp;-&nbsp;
                                        Resolución
                                        &nbsp;<span class="text-danger"> 892 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin Vista principal de todas las tarifas -->

</div>