<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <!--Tabla Usuarios-->
      <div class="col-sm-12">
        <div class="card ">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Tabla {{title}}</h4>
            <p class="card-category">Registro {{title}}</p>
          </div>

          <div class="card-body">
            <!--Filtros  -->
            <div class="row">

              <!--Input filtro de un campo-->
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput [(ngModel)]="filtroNombreCedula"  placeholder="Buscar...">
                  <button mat-button *ngIf="filtroNombreCedula" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>

            </div>
            <!--Mensaje de confirmacion-->
            <div data-notify="container" *ngIf="mensaje" [class]="claseDinamic">
              <i class="material-icons" data-notify="icon">{{iconAlert}}</i>
              <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                <i class="material-icons">close</i>
              </button>
              <span data-notify="message">
                <b>Info:</b> {{mensaje}} </span>
                <div class="col-sm-4">
                  <button mat-raised-button class="btn btn-outline-primary mb-3"  (click)="consultarUsuarios();mensaje=''"  *ngIf="respuesta=='error'" >Intentar nuevamente
                  </button>
                </div>
            </div>
            <!--
            <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoUsuario"></mat-progress-bar>
          -->

            <!--Fin mensaje confirmacion-->
            <div *ngIf="respuesta==null">
              Cargando usuarios
              <mat-progress-bar mode="indeterminate" class="mt-2 mb-4"></mat-progress-bar>
            </div>




            <div class="row">

              <div class="col-sm-4 mx-auto">
                <button mat-raised-button class="btn btn-outline-primary mb-3" type="submit" (click)="llamarFormulario.emit(null);" [disabled]="botonBloqueo">{{newTitle}}
                </button>
              </div>
            </div>

            <div class="table-responsive mat-elevation-z8">
              <mat-table  [dataSource]="dataSource" matSort matSortActive="nombreabogado" matSortDirection="desc" matSortDisableClear class="table table-full-width">
                <div *ngFor="let cabecera of etiquetasColumnas;let indice=index" >
                  <ng-container *ngIf="cabecera.item!='actions'" matColumnDef="{{cabecera.item}}">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >{{cabecera.etiqueta}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"  >{{element[cabecera.item]|arrayOne}}</mat-cell>
                  </ng-container>

                  <ng-container *ngIf="cabecera.item=='actions'" matColumnDef="{{cabecera.item}}">

                    <mat-header-cell *matHeaderCellDef>{{cabecera.etiqueta}}</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i=index">

                      <button mat-icon-button matTooltip="Editar" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                        class="example-button" (click)="enviarUSuario.emit({ usuario: element });"> <i class="material-icons ">edit</i>
                      </button>

                      <button mat-icon-button matTooltip="Eliminar" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                        class="example-button" (click)="llamarDialog(element)">
                        <i class="material-icons ">delete</i>
                      </button>
                    </mat-cell>
                  </ng-container>
                </div>

                <mat-header-row *matHeaderRowDef="cabecerasColumnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: cabecerasColumnas;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[10, 20]" [showFirstLastButtons]="true">
              </mat-paginator>

            </div>

          </div>
        </div>

      </div>
      <!--Fin Tabla empelados-->

    </div>
  </div>
</div>
