<div class="main-content">
  <div class="container-fluid">
    <div class="col-sm-8">
      <!--inicio formulario de nuevo usuario-->
      <div class="card" *ngIf="nUsuario">
        <div class="card-header card-header-danger ">
          <h4 class="card-title text-center">Agregar un nuevo usuario</h4>
          <p class="card-category text-center">*Todos los campos son obligatorios</p>
        </div>
        <div class="card-body">
          <!--Mensaje de confirmacion-->
          <div class="alert alert-warning alert-with-icon" data-notify="container" *ngIf="msg">
            <i class="material-icons" data-notify="icon">warning</i>
            <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">
              <b>Info:</b> {{msg}} </span>
          </div>
          <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!logeandose"></mat-progress-bar>

          <!--Fin mensaje confirmacion-->
        </div>
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
           <button (click)="fileInput.click()">Seleccionar foto</button>

        <form [formGroup]="nuevoUsuarioForm" (ngSubmit)="nuevoUsuario()" enctype="multipart/form-data">
          <div class="row align-content-xl-center">
            <div class="col-sm-8 mx-auto ">
              <img [src]="url" height="200"> <br/>
             
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Digite nombre de usuario" id="nombreUsuario" name="nombreUsuario" formControlName="nombreUsuario">
                <mat-error *ngIf="nuevoUsuarioForm.get('nombreUsuario').hasError('required')">
                  El nombre es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-8 mx-auto ">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Digite apellido de usuario" id="apellido" name="apellido" formControlName="apellido">
                <mat-error *ngIf="nuevoUsuarioForm.get('apellido').hasError('required')">
                  El apellido es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-8 mx-auto ">
              <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Digite cedula" id="identificacion" name="identificacion" formControlName="identificacion">
                <mat-error *ngIf="nuevoUsuarioForm.get('identificacion').hasError('required')">
                  La cedula es <strong>Obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-8 mx-auto ">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Digite codigo de usuario" id="codigoUsuario" name="codigoUsuario" formControlName="codigoUsuario">
                <mat-error *ngIf="nuevoUsuarioForm.get('codigoUsuario').hasError('required')">
                  El codigo de Usuario es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-8 mx-auto mt-1">
              <mat-slide-toggle (change)="activarDesactivarUsuario()" [checked]="active">Usuario {{textActive}} </mat-slide-toggle>
            </div>

            <div class="col-sm-8 mx-auto mt-1">
              <mat-form-field>
                <mat-select placeholder="Seleccione Rol" id="idRol" name="idRol" formControlName="idRol">
                  <mat-option>--</mat-option>
                  <mat-option [value]='rol.pkidrol' *ngFor="let rol of roles" >{{rol.nombrerol}}</mat-option>
                  <!-- 
                      <mat-option *ngFor="let animal of animals" [value]="animal">
                      {{animal.name}}
                    </mat-option>-->
                </mat-select>
                <mat-error *ngIf="nuevoUsuarioForm.get('idRol').hasError('required')">Porfavor seleccione un rol</mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-8 mx-auto ">
              <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Digite contraseña" id="contrasenia" name="contrasenia" formControlName="contrasenia">
                <mat-error *ngIf="nuevoUsuarioForm.get('contrasenia').hasError('required')">
                  La contraseña es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-8 mx-auto ">
              <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Repita contraseña" id="repetirContrasenia" name="repetirContrasenia" formControlName="repetirContrasenia">
                <!--<mat-error *ngIf="this.nuevoUsuarioForm.get('repetirContrasenia').errors && this.nuevoUsuarioForm.get('repetirContrasenia').dirty && this.nuevoUsuarioForm.get('repetirContrasenia').errors.validUrl">-->
                <mat-error *ngIf="ban">
                  <strong> {{msg2}} </strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-8 mx-auto mb-2">
              <button mat-button class="btn btn-outline-danger col-sm-12 mx-auto" type="submit" [disabled]="!nuevoUsuarioForm.valid">{{mensajeBoton}}  </button>
              <button mat-button class="btn btn-outline-danger col-sm-12 mx-auto" type="button" (click)="llamarFormulario.emit(null);" >Cancelar</button>
            </div>
          </div>
        </form>
      </div>
      <!--
            <pre>Status del formulario: {{ nuevoUsuarioForm.get('repetirContrasenia').hasError('') | json }}</pre>
            <pre>Status del formulario: {{ nuevoUsuarioForm.get('repetirContrasenia').errors.validUrl | json }}</pre>
            Fin formulario nuevo usuario
          -->
    </div>
  </div>
</div>