<div class="main-content">
    <!-- Formulario de registro y edicion -->
    <div class="container-fluid" *ngIf="oculta">

        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Tarifa NOMBRETARIFA para el año {{currentDate | date: 'yyyy'}}</h4>
                    <p class="card-category"></p>
                </div>

                <div class="card-body">

                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center">Seleccionar documento de resolución</h4>
                        </div>
                    </div>

                    <div class="row px-5 my-3">
                        <button mat-button class="btn btn-outline-primary col-sm-6 mx-auto" (click)="fileInput.click()">
                            Seleccionar
                        </button>
                    </div>
                    <hr>
                    <!-- Inicio Formulario -->
                    <form [formGroup]="tarifaInteresForm" (ngSubmit)="guardarCambios()" class="pl-4">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col pr-4 mx-auto">
                                    <mat-form-field>
                                        <mat-select placeholder="Seleccione la plaza" id="fkidplaza" name="fkidplaza"
                                            formControlName="fkidplaza">
                                            <mat-option *ngFor="let plaza of plazas" [value]="plaza.pkidplaza">{{plaza.nombreplaza}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="tarifaInteresForm.get('fkidplaza').hasError('required')">
                                            Seleccione al menos una <strong>Plaza</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col pr-4 mx-auto ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" placeholder="Digite Valor" id="valortarifainteres"
                                            name="valortarifainteres" formControlName="valortarifainteres">
                                        <mat-error *ngIf="tarifaInteresForm.get('valortarifainteres').hasError('required')">
                                            El valor es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-row">
                                <div class="col pr-4 mx-auto ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" placeholder="Digite Numero de Resolución" id="numeroresoluciontarifainteres"
                                            name="numeroresoluciontarifainteres" formControlName="numeroresoluciontarifainteres">
                                        <mat-error *ngIf="tarifaInteresForm.get('numeroresoluciontarifainteres').hasError('required')">
                                            El numero de resolución es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col pr-4 mx-auto mt-3">
                                    <mat-slide-toggle (change)="cambiarEstadoForm()" formControlName="tarifainteresactivo">
                                        Tarifa {{textActive}}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col pr-4 mx-auto ">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Descripcion" formControlName="descripciontarifainteres"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-row pr-4">
                                <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="submit"
                                    [disabled]="!tarifaInteresForm.valid">
                                    Guardar
                                </button>
                                <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="button"
                                    (click)="cancelarEdicion()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Fin Formulario -->
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Formulario de registro y edicion -->
</div>