<div class="main-content">
  <div class="container-fluid">
    <div class="col-sm-6 mx-auto">
      <div class="card">
        <div class="card-header card-header-danger ">
          <h3 class="card-title text-center">Inicio de Sesion</h3>
          <h4 class="card-category text-center">Inicia sesion para ingresar al sistema</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Nombre del empleado" id="name" name="name" >
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>