<div class="main-content">
    <!-- Formulario de registro y edicion -->
    <div class="container-fluid" *ngIf="oculta">

        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Tarifa de puesto eventual</h4>
                    <p class="card-category"></p>
                </div>

                <div class="card-body">

                    <div class="row mt-3">
                        <div class="col-12">
                            <!--Mensaje de confirmacion-->
                            <div data-notify="container" *ngIf="mensajeForm" class="alert alert-danger alert-with-icon">
                                <i class="material-icons" data-notify="icon">{{iconAlert}}</i>
                                <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialogForm()">
                                    <i class="material-icons">close</i>
                                </button>
                                <span data-notify="message">
                                    <b>Info:</b> {{mensajeForm}} 
                                </span>
                                <!-- <div class="col-sm-4">
                                    <button mat-raised-button class="btn btn-outline-danger mb-3" (click)="consultarPlazas()"
                                        *ngIf="respuesta=='error'">Intentar
                                        de nuevo
                                    </button>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center">Seleccionar documento de resolución</h4>
                        </div>
                    </div>

                    <div class="row" *ngIf="urlDocumento">
                        <div class="col-12">
                            <h4 class="text-center">{{ urlDocumento }}</h4>
                        </div>
                    </div>


                    <div *ngIf="barraProgresoForm">
                        Cargando Tarifas
                        <mat-progress-bar mode="indeterminate" class="mt-2 mb-4"></mat-progress-bar>
                    </div>

                    <div class="row px-5 my-3">
                        <button mat-button class="btn btn-outline-primary col-sm-6 mx-auto" (click)="fileInput.click()">
                            Seleccionar
                        </button>
                    </div>
                    <hr>
                    <!-- Inicio Formulario -->
                    <form [formGroup]="puestoEventualForm" (ngSubmit)="guardarCambios()" class="pl-4">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col pr-4 mx-auto">
                                    <mat-form-field>
                                        <mat-select placeholder="Seleccione la plaza" id="fkidplaza" name="fkidplaza"
                                            formControlName="fkidplaza">
                                            <mat-option *ngFor="let plaza of plazas" [value]="plaza.pkidplaza">{{plaza.nombreplaza}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="puestoEventualForm.get('fkidplaza').hasError('required')">
                                            Seleccione al menos una <strong>Plaza</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col pr-4 mx-auto ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" placeholder="Digite Valor" id="valortarifapuestoeventual"
                                            name="valortarifapuestoeventual" formControlName="valortarifapuestoeventual">
                                        <mat-error *ngIf="puestoEventualForm.get('valortarifapuestoeventual').hasError('required')">
                                            El nombre es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-row">
                                <div class="col pr-4 mx-auto ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" placeholder="Digite Numero de Resolución" id="numeroresoluciontarifapuestoeventual"
                                            name="numeroresoluciontarifapuestoeventual" formControlName="numeroresoluciontarifapuestoeventual">
                                        <mat-error *ngIf="puestoEventualForm.get('numeroresoluciontarifapuestoeventual').hasError('required')">
                                            El numero de resolución es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col pr-4 mx-auto mt-3">
                                    <mat-slide-toggle (change)="cambiarEstadoForm()" formControlName="tarifapuestoeventualactivo">
                                        Tarifa {{textActive}}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col pr-4 mx-auto ">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Descripcion" formControlName="descripciontarifapuestoeventual"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-row pr-4">
                                <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="submit"
                                    [disabled]="!puestoEventualForm.valid">
                                    Guardar
                                </button>
                                <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="button"
                                    (click)="cancelarEdicion()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Fin Formulario -->
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Formulario de registro y edicion -->

    <!-- Tabla de visualizacion de tarifas de puesto eventual -->
    <div class="container-fluid" *ngIf="!oculta">

        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Tarifas de puesto eventual</h4>
                    <p class="card-category"></p>
                </div>

                <div class="card-body">

                    <!--Filtros  -->
                    <div class="row justify-content-center">

                        <div class="col-md-5">
                            <mat-form-field>
                                <mat-select placeholder="buscar por plaza" [(ngModel)]="plazaselect" (change)="guardarFiltroplaza($event)">
                                    <mat-option value=''> Todos </mat-option>
                                    <mat-option [value]='plaza.pkidplaza' *ngFor="let plaza of plazas">{{plaza.nombreplaza}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-5">
                            <mat-slide-toggle (change)="guardarFiltroActivo()" class="mt-3" [(ngModel)]="estadoToggle">
                                Mostrar tarifas desactivadas
                            </mat-slide-toggle>
                        </div>

                    </div>
                    <!-- FIN FILTROS -->
                    <hr>


                    <div class="row mt-3">
                        <div class="col-12">
                            <!--Mensaje de confirmacion-->
                            <div data-notify="container" *ngIf="mensaje" [class]="claseDinamic">
                                <i class="material-icons" data-notify="icon">{{iconAlert}}</i>
                                <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                                    <i class="material-icons">close</i>
                                </button>
                                <span data-notify="message">
                                    <b>Info:</b> {{mensaje}} </span>
                                <div class="col-sm-4">
                                    <button mat-raised-button class="btn btn-outline-danger mb-3" (click)="consultarPlazas()"
                                        *ngIf="respuesta=='error'">Intentar
                                        de nuevo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4 mb-5">
                        <button mat-raised-button class="btn btn-outline-primary col-sm-8 col-md-6 col-lg-6 mx-auto"
                            (click)="nuevaTarifa()">
                            Nueva Tarifa
                        </button>
                    </div>

                    <div *ngIf="respuesta==null">
                        Cargando Tarifas
                        <mat-progress-bar mode="indeterminate" class="mt-2 mb-4"></mat-progress-bar>
                    </div>

                    <app-tabla-tarifas-dinamica [url]="url" (editarTarifa)="llamarFormularioEditar($event)"></app-tabla-tarifas-dinamica>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin Tabla de visualizacion de tarifas de puesto eventual -->
</div>