<div class="main-content">
  <div class="container-fluid">
    <div class="col-sm-8">
      <!--inicio formulario de nuevo Plaza-->
      <div class="card">
        <div class="card-header card-header-danger ">
          <h4 class="card-title text-center">Agregar una nueva plaza de mercado</h4>
          <p class="card-category text-center">*Todos los campos son obligatorios</p>
        </div>

        <div class="card-body">
          <!--Mensaje de confirmacion-->
          <div class="alert alert-warning alert-with-icon" data-notify="container" *ngIf="msg">
            <i class="material-icons" data-notify="icon">warning</i>
            <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">
              <b>Info:</b> {{msg}} </span>
          </div>
          <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoplaza"></mat-progress-bar>

          <!--Fin mensaje confirmacion-->
        </div>


        <form [formGroup]="nuevoPlazaForm" (ngSubmit)="nuevaPlaza()">

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Digite codigo de la plaza" id="codigoplaza" name="codigoplaza" formControlName="codigoplaza">
                  <mat-error *ngIf="nuevoPlazaForm.get('codigoplaza').hasError('required')">
                    el codigo es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Digite nombre de la plaza" id="nombreplaza" name="nombreplaza" formControlName="nombreplaza">
                  <mat-error *ngIf="nuevoPlazaForm.get('nombreplaza').hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto mt-1">
                <mat-slide-toggle (change)="activarDesactivarPlaza()" [checked]="active">Plaza {{textActive}} </mat-slide-toggle>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4 mx-auto mt-1">
                <mat-form-field>
                  <mat-select placeholder="Seleccione tipo de recaudo" id="pkidtiporecaudo" name="pkidtiporecaudo" (change)="onChangePermisos($event)" formControlName="pkidtiporecaudo" multiple >
                    <mat-option *ngFor="let tiporecaudo of tiporecaudos" [value]=" tiporecaudo.pkidtiporecaudo">{{tiporecaudo.nombretiporecaudo}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="nuevoPlazaForm.get('pkidtiporecaudo').hasError('required')">Porfavor seleccione al menos un
                    tipo de recaudo</mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-4 mx-auto mt-1">
                  <p>
                    Tipo recaudo Seleccionados:
                  </p>
                  <ul>
                    <li *ngFor="let seleccionado of seleccionados">{{seleccionado}}</li>
                  </ul>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="submit" [disabled]="!nuevoPlazaForm.valid">{{mensajeBoton}}
              </button>
              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="button" (click)="llamarPlaza.emit({cancel:'1',msj:'null'});">Cancelar</button>
            </div>
          </div>

        </form>
      </div>
      <!--
                  <pre>Status del formulario: {{ nuevoPlazaForm.get('repetirContrasenia').hasError('') | json }}</pre>
                  <pre>Status del formulario: {{ nuevoPlazaForm.get('repetirContrasenia').errors.validUrl | json }}</pre>
                  Fin formulario nuevo Plaza
                -->
    </div>
  </div>
</div>