<div class="main-content">
  <div class="container-fluid">
    <div class="col-sm-8">
      <!--inicio formulario de nuevo zona -->
      <div class="card">
        <div class="card-header card-header-danger ">
          <h4 class="card-title text-center">Agregar una nueva zona </h4>
          <p class="card-category text-center">*Todos los campos son obligatorios</p>
        </div>

        <div class="card-body">
          <!--Mensaje de confirmacion-->
          <div class="alert alert-warning alert-with-icon" data-notify="container" *ngIf="msg">
            <i class="material-icons" data-notify="icon">warning</i>
            <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog2()">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">
              <b>Info:</b> {{msg}} </span>
          </div>
          <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoespecie"></mat-progress-bar>

          <!--Fin mensaje confirmacion-->
        </div>


        <form [formGroup]="nuevoEquipoForm" (ngSubmit)="editarAgregarEquipo()">

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Digite codigo de equipo " id="codigoespecieanimal" name="codigoespecieanimal"
                    formControlName="codigoespecieanimal">

                </mat-form-field>
              </div>


              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Digite nombre de equipo " id="nombreespecieanimal" name="nombreespecieanimal" formControlName="nombreespecieanimal">
                  <mat-error *ngIf="nuevoEquipoForm.get('nombreespecieanimal').hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto mt-1">
                <mat-slide-toggle (change)="activarDesactivarespecie()" [checked]="active">Equipo {{textActive}} </mat-slide-toggle>
              </div>

              <div class="col-sm-4 mx-auto  mt-1">
                <mat-form-field>
                  <mat-select placeholder="Seleccione tipo de aniamal" id="pkidtipoanimal" name="pkidtipoanimal" formControlName="pkidtipoanimal">
                    <mat-option [value]='tipoanimal.pkidtipoanimal' *ngFor="let tipoanimal of tipoanimales">{{tipoanimal.nombretipoanimal}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="nuevoEquipoForm.get('pkidtipoanimal').hasError('required')">
                    El tipo de animal es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="row">

              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="submit" [disabled]="!nuevoEquipoForm.valid">{{mensajeBoton}}
              </button>
              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="button" (click)="llamarFormularioAgregarEquipo(null)">Cancelar</button>
            </div>
          </div>

        </form>
      </div>
      <!--
                <pre>Status del formulario: {{ nuevoEquipoForm.get('repetirContrasenia').hasError('') | json }}</pre>
                <pre>Status del formulario: {{ nuevoEquipoForm.get('repetirContrasenia').errors.validUrl | json }}</pre>
                Fin formulario nuevo zona
              -->
    </div>
  </div>
</div>