<div class="main-content">
  <div class="container-fluid">
   
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"> Recaudo puestos fijos</h4>
                  </div>
                  
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Recuperación de cartera</h4>
                     
                  </div>
                  
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Errores de pago</h4>
                  </div>
                
              </div>
          </div>
      </div>
      
  </div>
</div>
