<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card ">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Tabla de Tipo de Sectores</h4>
                <p class="card-category">Registro de Tipo de Sectores</p>
              </div>
    
              <div class="card-body">
                <!--Filtros  -->
                <div class="row">
    
                  <!--Input filtro de un campo-->
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput [(ngModel)]="filtroNombreTipoSector" (keyup)="aplicarFiltro()" placeholder="Buscar por nombre de tipo de rol">
                      <button mat-button *ngIf="filtroNombreTipoSector" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <!--Fin filtro input -->
                  <!--Filtro boton  toggle inhabilidatos -->
                  <div class="col-sm-4">
                    <mat-slide-toggle (change)="aplicarFiltro()" [(ngModel)]="toggleActDesc">Mostrar Tipo de Sectores desactivados</mat-slide-toggle>
                  </div>
                  <!--Fin Filtro boton toggle -->
                  <!--Fin Filtros-->
    
    
    
                </div>
    
                <!--Mensaje de confirmacion-->
                <div data-notify="container" *ngIf="mensaje" [class]="claseDinamic">
                  <i class="material-icons" data-notify="icon">{{iconAlert}}</i>
                  <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                    <i class="material-icons">close</i>
                  </button>
                  <span data-notify="message">
                    <b>Info:</b> {{mensaje}} </span>
                  <div class="col-sm-4">
                    <button mat-raised-button class="btn btn-outline-primary mb-3" (click)="consultarTipoSectores()" *ngIf="respuesta=='error'">Intentar
                      de nuevo
                    </button>
                  </div>
                </div>
                <!--
                <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoUsuario"></mat-progress-bar>
              -->
    
                <!--Fin mensaje confirmacion-->
                <div *ngIf="respuesta==null">
                  Cargando Tipo de Roles
                  <mat-progress-bar mode="indeterminate" class="mt-2 mb-4"></mat-progress-bar>
                </div>
    
    
                <div class="row">
    
                  <div class="col-sm-4 ">
                    <button mat-raised-button class="btn btn-outline-primary mb-3" type="submit" (click)="llamarFormularioAgregarTipo()" [disabled]="botonBloqueo">Nuevo
                      tipo de sector
                    </button>
                  </div>
                </div>


                <!--
                  Formulario para agregar un tipo de sector nuevo
                -->

                <div>
                  
                     <div class="card" *ngIf="nRol">
        <div class="card-header card-header-danger ">
          <h4 class="card-title text-center">Agregar un nuevo rol</h4>
          <p class="card-category text-center">*Todos los campos son obligatorios</p>
        </div>

        <div class="card-body">
          <!--Mensaje de confirmacion-->
          <div class="alert alert-warning alert-with-icon" data-notify="container" *ngIf="msg">
            <i class="material-icons" data-notify="icon">warning</i>
            <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">
              <b>Info:</b> {{msg}} </span>
          </div>
          <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoRol"></mat-progress-bar>

          <!--Fin mensaje confirmacion-->
        </div>


        <form [formGroup]="nuevoRolForm" (ngSubmit)="nuevoRol()">

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Digite codigo del rol" id="codigorol" name="codigorol" formControlName="codigorol">
                  <mat-error *ngIf="nuevoRolForm.get('codigorol').hasError('required')">
                    el codigo es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Digite nombre del rol" id="nombrerol" name="nombrerol" formControlName="nombrerol">
                  <mat-error *ngIf="nuevoRolForm.get('nombrerol').hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <div class="col-sm-4 mx-auto ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Digite descripcion del rol" id="descripcionrol" name="descripcionrol" formControlName="descripcionrol">
                  <mat-error *ngIf="nuevoRolForm.get('descripcionrol').hasError('required')">
                    La descripcion es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-4 mx-auto mt-1">
                <mat-slide-toggle (change)="activarDesactivarRol()" [checked]="active">Rol {{textActive}} </mat-slide-toggle>
              </div>


            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4 mx-auto mt-1">
                <mat-form-field>
                  <mat-select placeholder="Seleccione permisos" id="pkidmodulo" name="pkidmodulo" (change)="onChangePermisos($event)" formControlName="pkidmodulo" multiple >
                    <mat-option *ngFor="let permiso of permisos" [value]=" permiso.getPkidmodulo()+'-'+permiso.getNombrepermiso()">{{permiso.getNombremodulo()}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="nuevoRolForm.get('pkidmodulo').hasError('required')">Porfavor seleccione al menos un
                    permiso</mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-4 mx-auto mt-1">
                  <p>
                    Permisos Seleccionados:
                  </p>
                  <ul>
                    <li *ngFor="let seleccionado of seleccionados">{{seleccionado}}</li>
                  </ul>
              </div>

            </div>
          </div>


          <div class="form-group">
            <div class="row">

              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="submit" [disabled]="!nuevoRolForm.valid">{{mensajeBoton}}
              </button>
              <button mat-button class="btn btn-outline-danger col-sm-4 mx-auto" type="button" (click)="llamarTablaRol.emit({cancel:'1',msj:'null'});">Cancelar</button>
            </div>
          </div>

        </form>
      </div>



                </div>

                <!--
                  Fin formulario para agregar un tipo de sector
                -->
    
                <div class="table-responsive mat-elevation-z8">
                  <mat-table [dataSource]="dataSource" matSort class="table table-full-width">
                    <ng-container matColumnDef="nombretiposector">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre tipo de sector </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.getTiposectoractivo() }"> {{element.getNombretiposector()}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="descripciontiposector">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción tipo de sector</mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.getTiposectoractivo() }"> {{element.getDescripciontiposector()}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tiposectoractivo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo sector Activo/Desactivado </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.getTiposectoractivo() }"> {{element.getTiposectoractivo()?'Activo':'Desactivado'}}
                      </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                      <mat-cell *matCellDef="let element ; let i=index">
    
                        <button mat-icon-button matTooltip="Editar tipo sector" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                          class="example-button" (click)="editarAgregarTipo(element)"> <i class="material-icons ">edit</i>
                        </button>
    
                        <button mat-icon-button matTooltip="Eliminar tipo sector" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                          class="example-button" (click)="openDialog(element)">
                          <i class="material-icons ">delete</i>
                        </button>
    
                        <button mat-icon-button matTooltip="Desactivar tipo sector" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                          class="example-button" (click)="cambiarEstadoTipo(element)">
                          <i class="material-icons ">not_interested</i>
                        </button>
    
    
                      </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="cabecerasColumnas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: cabecerasColumnas;"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                  </mat-paginator>
                </div>
              </div>
            </div>
    
          </div>
          <!--Fin Tabla empelados-->
    
    </div>

  </div>
</div>