<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card ">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Tabla de Tipo de Sectores</h4>
                <p class="card-category">Registro de Tipo de Sectores</p>
              </div>
    
              <div class="card-body">
                <!--Filtros  -->
                <div class="row">
    
                  <!--Input filtro de un campo-->
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput [(ngModel)]="filtroNombreTipoSector" (keyup)="aplicarFiltro()" placeholder="Buscar por nombre de tipo de rol">
                      <button mat-button *ngIf="filtroNombreTipoSector" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <!--Fin filtro input -->
                  <!--Filtro boton  toggle inhabilidatos -->
                  <div class="col-sm-4">
                    <mat-slide-toggle (change)="aplicarFiltro()" [(ngModel)]="toggleActDesc">Mostrar Tipo de Sectores desactivados</mat-slide-toggle>
                  </div>
                  <!--Fin Filtro boton toggle -->
                  <!--Fin Filtros-->
    
    
    
                </div>
    
                <!--Mensaje de confirmacion-->
                <div data-notify="container" *ngIf="mensaje" [class]="claseDinamic">
                  <i class="material-icons" data-notify="icon">{{iconAlert}}</i>
                  <button mat-button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                    <i class="material-icons">close</i>
                  </button>
                  <span data-notify="message">
                    <b>Info:</b> {{mensaje}} </span>
                  <div class="col-sm-4">
                    <button mat-raised-button class="btn btn-outline-primary mb-3" (click)="consultarTipoSectores()" *ngIf="respuesta=='error'">Intentar
                      de nuevo
                    </button>
                  </div>
                </div>
                <!--
                <mat-progress-bar mode="indeterminate" class="mt-2 mb-4" [hidden]="!creandoUsuario"></mat-progress-bar>
              -->
    
                <!--Fin mensaje confirmacion-->
                <div *ngIf="respuesta==null">
                  Cargando Tipo de Roles
                  <mat-progress-bar mode="indeterminate" class="mt-2 mb-4"></mat-progress-bar>
                </div>
    
    
                <div class="row">
    
                  <div class="col-sm-4 ">
                    <button mat-raised-button class="btn btn-outline-primary mb-3" type="submit" (click)="llamarFormularioAgregarTipoSector.emit(null);" [disabled]="botonBloqueo">Nuevo
                      tipo de sector
                    </button>
                  </div>
                </div>


                <!--
                  Formulario para agregar un tipo de sector nuevo
                -->

                <div>
                  
                </div>

                <!--
                  Fin formulario para agregar un tipo de sector
                -->
    
                <div class="table-responsive mat-elevation-z8">
                  <mat-table [dataSource]="dataSource" matSort class="table table-full-width">
                    <ng-container matColumnDef="nombretiposector">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre tipo de sector </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.getTiposectoractivo() }"> {{element.getNombretiposector()}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="descripciontiposector">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción tipo de sector</mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.getTiposectoractivo() }"> {{element.getDescripciontiposector()}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tiposectoractivo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo sector Activo/Desactivado </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="{'table-danger': !element.getTiposectoractivo() }"> {{element.getTiposectoractivo()?'Activo':'Desactivado'}}
                      </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                      <mat-cell *matCellDef="let element ; let i=index">
    
                        <button mat-icon-button matTooltip="Editar tipo sector" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                          class="example-button" (click)="enviarRol.emit({rol:element})"> <i class="material-icons ">edit</i>
                        </button>
    
                        <button mat-icon-button matTooltip="Eliminar tipo sector" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                          class="example-button" (click)="openDialog(element)">
                          <i class="material-icons ">delete</i>
                        </button>
    
                        <button mat-icon-button matTooltip="Desactivar tipo sector" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
                          class="example-button" (click)="cambiarEstadoRol(element)">
                          <i class="material-icons ">not_interested</i>
                        </button>
    
    
                      </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="cabecerasColumnas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: cabecerasColumnas;"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                  </mat-paginator>
                </div>
              </div>
            </div>
    
          </div>
          <!--Fin Tabla empelados-->
    
    </div>

  </div>
</div>